@import "tailwindcss";

@theme {
  --color-brand-black: #0a0a0a;
  --color-brand-green: #14f195;
  --color-brand-purple: #9945ff;
}

body {
  background-color: var(--color-brand-black);
  color: white;
}


/* Ensure wallet adapter modal appears above everything */
.wallet-adapter-modal-wrapper {
  z-index: 9999 !important;
}

.wallet-adapter-modal {
  z-index: 9999 !important;
}